.tableContainer{
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 5px 10px 5px #b3b3b3;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 100px;
}
.wrapper{
    margin-top: 150px;
    

}
.table{
   
    width: 100%;
    
    
    
    
}
.thead{
    background-color: teal;
    height: 50px;
    
  
}
.trow{
   
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
}
.trow:nth-child(even) {
    background-color: #f2f2f2;
}
/* .trow:nth-child(odd) {
    background-color: #e6e6e6;
} */
td,th{
    text-align: center;
    
}
td:first-child,
th:first-child {
  border-radius: 10px 0 0 10px;
}
td:last-child,
th:last-child {
  border-radius: 0 10px 10px 0;
}
.button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 10px;
    width: 20%;
    height: 30px;
    background-color: #595959;
    color: white;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
}
.button:hover{
    cursor: pointer;
    background-color:#404040 ;
}
