.wrapper{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    
    display: flex;
    justify-content: center;


}

.signupCont{
   
    margin-top: 100px;
    width: 40%;
    height: fit-content;
   padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-color: white;
  
    
}
.innerCont{
    
    width: 100%;
    height: fit-content;
    
}
.innerForm{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
    
}
.mainHeader{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-size: 40px;
    color: #004d4d;
    
    margin-top: 0px;
}
.formInput{
    width: 100%;
 height: 50px;
 border: 1px solid black;
 border-radius: 10px;
 display: flex;
 align-items: center;
 justify-content: center;
 
}
input{
    width: 93%;
    border: none;
    height: 25px;
    outline: none;
}
.buttonCont{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100px;
}
button{
    
    height: 35px;
    width: 50%;
    cursor: pointer;
    background-color: teal;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    
}
button:hover{
    background-color: #004d4d;
}
.closeButton{
    
   
   margin-left: auto;
   display: block;
    font-size: 40px;
    color: red;
    cursor: pointer;
  
}